table {
    border-collapse: collapse;
    width: 300px;
	
		position: absolute;
}
table.table1 {
	    border-collapse: collapse;
	top: 350px;
    	width: 300px;
	height: 300px;
	position: absolute;
}
td {
    border: 6px solid black;
}

